body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 25%;
    min-width: 350px;
    border: 3px solid #333;
    position: relative;
    border-radius: 50px;
    height: 95vh;
    padding: 30px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
    background-color: black;
    box-shadow:
        0 10px 10px -10px rgba(0, 0, 0, 0.5),
        0 -10px 10px -10px rgba(0, 0, 0, 0.5),
        10px 0 10px -10px rgba(0, 0, 0, 0.5),
        -10px 0 10px -10px rgba(0, 0, 0, 0.5);
    color: white;

}

#clock-face {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
    background-color: white;
    color: black;
    border-radius: 50px;
}

/* add alarm */
.buttonContainer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* input boxes */
#input-boxes input {
    border: 1px solid #ccc;
    width: 60px;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 3px;
    margin-right: 10px;
}


#AMPM {
    border: 1px solid #ccc;
    width: 70px;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 8px 2px;
}

#AMPM option {
    font-size: 20px;
}


/* added alarm Element */
.alarmElement {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    padding-bottom: 10px;
}



/* buttons */

#setAlarmButton button,
.deleteButton {
    padding: 8px 15px;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


#addNew {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 24px;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#setAlarmButton button:hover,
.deleteButton:hover,
#addNew:hover {
    background-color: #0056b3;
}



/* modal */
.modal-content {
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.modal-title {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-body {
    padding: 20px;
}

#set-alarm {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

/* no alarm */
.no-alarms {
    text-align: center;
    padding-top: 50px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.no-alarms img {
    width: 250px;
    height: 250px;
}